appdirs
argcomplete
argon2-cffi
asttokens
async-generator
attrs
Babel
backcall
bcrypt
beautifulsoup4
beniget
bleach
blinker
Bottleneck
Brlapi
Brotli
bytecode
certifi
chardet
click
colorama
command-not-found
coverage
cryptography
cupshelpers
cycler
dbus-python
debugpy
decorator
defer
defusedxml
distlib
distro
distro-info==1.5+ubuntu0.23.4.1
dlib
duplicity
edlib
entrypoints
et-xmlfile
exceptiongroup
executing
face-recognition
face-recognition-models
fasteners
fastjsonschema
filelock
Flask
fonttools
fs
future
gast
ghp-import
gyp
h11
html5lib
httplib2
idna
importlib-metadata
iniconfig
ipykernel
ipython
ipython_genutils
ipywidgets
itsdangerous
jaraco.classes
jdcal
jedi
jeepney
Jinja2
joblib
jsonschema
jupyter_client
jupyter_core
jupyterlab-pygments
keyring
kiwisolver
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
livereload
llvmlite
lockfile
louis
lunr
lxml
lz4
Mako
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mergedeep
mkdocs
monotonic
more-itertools
mpmath
nbclient
nbconvert
nbformat
nest-asyncio
netifaces
nltk
nose
notebook
numba
numexpr
numpy
oauthlib
odfpy
olefile
openpyxl
outcome
packaging
pandas
pandocfilters
paramiko
parso
patsy
pexpect
pickleshare
Pillow
pipx
platformdirs
pluggy
ply
prometheus-client
prompt-toolkit
psutil
ptyprocess
pure-eval
py
pycairo
pycups
pydevd
pygame
Pygments
PyGObject
pyinotify
PyJWT
PyNaCl
pyOpenSSL
pyparsing
PyPDF2
pyrsistent
pytest
python-apt==2.5.3+ubuntu1
python-dateutil
python-debian==0.1.49+ubuntu2
pythran
pytz
pyxdg
PyYAML
pyyaml_env_tag
pyzmq
regex
reportlab
requests
rich
scikit-learn
scipy
seaborn
SecretStorage
selenium
Send2Trash
simplejson
six
sniffio
sortedcontainers
soupsieve
stack-data
sympy
systemd-python
tables
tensorflow
terminado
threadpoolctl
tinycss2
tornado
tqdm
traitlets
trio
trio-websocket
ubuntu-advantage-tools
ubuntu-drivers-common
ufoLib2
ufw
unattended-upgrades
urllib3
usb-creator
userpath
virtualenv
wadllib
watchdog
wcwidth
webencodings
Werkzeug
widgetsnbextension
wsproto
xdg
xkit
zipp
